:root {
    --maleBlue: #679dda;
    --maleBlue: #1248dcdd;
    --femaleGreen: #ad5892;
    --leafcolour: rgb(237, 230, 230);
    --treePath: 2px solid black;
    --pageWidth: 100;
    --pageWidthPC: calc(var(--pageWidth) * 1%);
    --leafWidth: calc(var(--pageWidth) * 1px);
    --leafHeight: calc(var(--pageWidth) * 1px);
    --nameFont: 12px "Poppins";
    --birthDeathFont: 10px "Poppins";
    --gridcolor1: #2196f3;
    --gridcolor1: #ffffff;
    --gridcolor2: rgba(255, 255, 255, 0.867);
    --offset: 67.5px;
    /* review this default value */
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    /* Ensure scrollbars appear when needed */
}

body {
    min-width: 100vw;
    /* Prevent body from shrinking */
}

.grid-master {
    display: grid;
    grid-template-areas:
        "grid-gen1"
        "grid-gen2"
        "grid-gen3"
        "grid-gen4";
    grid-template-rows: auto;
    overflow: auto;
    /* Ensure grid-master itself can scroll */
    width: max-content;
    /* Prevent the grid from shrinking */
}

.grid-gen1,
.grid-gen2,
.grid-gen3,
.grid-gen4 {
    display: grid;
    grid-gap: 10px;
    padding: 15px;
    background-color: var(--gridcolor1);
}

.grid-gen1 {
    grid-template-columns: repeat(1, 200px);
    /* Adjust width as needed */
    grid-area: grid-gen1;
}

.grid-gen2 {
    grid-template-columns: repeat(2, 200px);
    /* Adjust width as needed */
    grid-area: grid-gen2;
}

.grid-gen3 {
    grid-template-columns: repeat(12, 200px);
    /* Adjust width as needed */
    grid-area: grid-gen3;
}

.grid-gen4 {
    grid-template-columns: repeat(72, 200px);
    /* Adjust width as needed */
    grid-area: grid-gen4;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: 1px solid #000;
    padding: 15px;
}

.item1 {
    background-color: red;
}

.item2 {
    background-color: yellow;
}

.item3 {
    background-color: green;
}

.item4 {
    background-color: #ad5892;
}